<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>float.html</title>
  <style>
    img {
      width: 150px;
      height: 150px;

      float: left;
    }

    .left {
      float: left;
      width: 100px;
      height: 100px;
      background-color: aliceblue;
    }

    .right {
      float: right;
      background-color: orange;
    }

    .clear {
      clear: both;
    }
  </style>
</head>
<body>
  <img src="../../images/dog03.jpg" alt="강아지">
  <p>여서정은 현지 시간 28일 2024 파리 올림픽 기계체조 여자 단체전 예선에 출전해 주 종목인    도마에서 평균 14.183점을 얻었습니다.
  1차 시기에서 14.400점을, 2차 시기에서 13.966점을 받아 8명이 겨루는 결선에 총 4위로 올라갔습니다. 
  이날 북한의 안창옥 선수는 여서정 선수와 동점을 받았습니다.
  하지만 평균 점수가 같을 땐 더 높은 점수를 획득한 선수가 순위를 더 높게 가져간다는 국제체조연맹의 규정에 따라 여서정 선수가 4위, 안창옥 선수가 5위를 기록하게 됐습니다.
  </p>

  <hr />
  <div class="left">왼쪽에 뜨는 요소</div>
  <div class="right">오른쪽에 뜨는 요소</div>
  <div class="clear">Float 해제</div>
</body>
</html>